// CSS custom properties are set as inline styles on the <figure> element
[data-table-colors] {
	thead {
		background-color: var(--table-header-bg);
		color: var(--table-header-color);
	}
	thead th {
		background-color: var(--table-header-bg);
		color: var(--table-header-color);
	}
	td:first-child {
		background-color: var(--table-first-col-bg);
		color: var(--table-first-col-color);
	}
	@for $i from 1 through 10 {
		&[data-highlight-col="#{$i}"] {
			table tbody td:nth-child(#{$i}) {
				background-color: var(--table-highlight-col-bg);
				color: var(--table-highlight-col-color);
			}
			thead tr th:nth-child(#{$i})::before {
				content: "Best Value\A";
				white-space: pre-wrap;
				color: black;
				background-color: #f4e501;
				padding: 2px 8px;
				border-radius: 9999px;
				font-size: 0.8rem;
				text-transform: none;
				letter-spacing: 0.025em;
				line-height: 2.5;
			}
		}
	}
}
